@font-face {
  font-display: swap; 
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/archivo/archivo-v19-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/archivo/archivo-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/archivo/archivo-v19-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/archivo/archivo-v19-latin-700.woff2') format('woff2');
}

 :root {
  --bg: #000000;
  --font: rgba(255,255,255, 1);
  --font-weak: rgba(255, 255, 255, 0.5);
  --disabled: rgba(75, 75, 75, 1);
  --bg-2: rgba(10, 10, 10, 1.0);
  --bg-3: rgba(20, 20, 20, 1.0);
  --bg-btn: rgba(15, 15, 15, 1);
  --main-01: rgba(123, 59, 252, 0.1);
  --main-001: rgba(123, 59, 252, 0.01);
  --main-06: rgba(123, 59, 252, 0.6);
  --main: rgba(123, 59, 252, 1);
  --border: rgba(32, 33, 37);
}

* {
  box-sizing: border-box;
}

body {
    font-family: "Archivo", system-ui, sans-serif;
    font-size: clamp(100%, 90% + 0.5vw, 150%);
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--font);
}

body {
    scrollbar-width: auto;
    scrollbar-color: var(--main-01), transparent;
}

.log-output::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

.log-output::-webkit-scrollbar-track {
    background: var(--main-001);
}

.log-output::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 5px;
    border: 3px solid transparent;
}

.log-output:hover::-webkit-scrollbar-thumb {
    background-color: var(--main-06);
}

textarea::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

textarea::-webkit-scrollbar-track {
    background: var(--main-001);
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 5px;
    border: 3px solid transparent;
}

textarea:hover::-webkit-scrollbar-thumb {
    background-color: var(--main-06);
}

h1 {
    padding: 0 0 0 0;
    font-weight: 700;
    font-size: 1.6rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: stretch;
}

.left {
    flex-direction: column;
    padding: 20px;
    background-color: var(--bg);
    overflow: hidden;
    border-right: 1px solid var(--border);
}

.left:hover {
  background: var(--bg-2);
}

.right {
    align-self: center;
    justify-self: center;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 8px 8px;
    border: 1px solid var(--border);
    color: var(--font-weak);
    background-color: var(--bg-2);
    border-radius: 5px;
    font-family: "Archivo", system-ui, sans-serif;
}

.input-group input:focus,  .input-group textarea:focus {
    color: var(--font);
    border: 1px solid var(--main);
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

#negative_prompt {
    height: 32px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-group svg {
	width: 18px; 
	height: 18px;
	margin-right: 2px;
	margin-bottom: -4px;
}

#negative_prompt {
    margin-top: -6px;
}

.options {
    margin-bottom: 10px;
    margin-top: -8px;
}

.options button {
	font-size: 14px;
	background: transparent;
	border: 1px solid var(--border);
	padding: 6px 8px;
    border-radius: 5px;
	cursor: pointer;
	color: var(--font);
}

#userSeed {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#changeSeed {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0px solid transparent;
    margin-left: -1px;
}

.options button svg {
    height: 18px;
    width: 18px;
    margin: 0px 1px;
}

.options button svg path {
    fill: var(--font);
}

.seed:hover #userSeed, .seed:hover #changeSeed {
    border: 1px solid var(--main) !important;
}

.seed:hover #changeSeed {
    border-left: 0px solid transparent;
}

#changeSeed:hover {
    background: var(--main);
	border: 1px solid var(--border);
}

.key button {
	border-radius: 50px;
	font-size: 14px;
	background: rgba(30, 22, 68, 0.4);
	border: 1px solid var(--main);
	padding: 8px 24px;
	cursor: pointer;
	color: var(--font);
    font-family: "Archivo", system-ui, sans-serif;
}

.key button:hover {
	background: var(--main);
	border: 1px solid var(--border);
}

.key button:disabled {
	--active: 0;
	cursor: not-allowed;
	color: var(--disabled);
	background-color: var(--bg-btn);
	border: 1px solid var(--border);
}

.key button:disabled svg path {
	fill: var(--disabled);
}

.key button:disabled:hover {
	background: rgba(1, 1, 1, 1.0);
	border: 1px solid var(--border);
}

.key button:disabled:hover svg path {
	fill: var(--disabled);
}

.progress-bar {
    width: 100%;
    height: 2px;
    background-color: var(--border);
    overflow: hidden;
    border-radius: 2px;
}

.progress-bar-inner {
    height: 100%;
    background-color: var(--main);
    width: 0;
    transition: width 0.3s ease-in-out;
}

.progress-bar-label {
    margin: 10px;
    font-size: 12px;
    text-align: center;
}

.log-output {
    height: 26vh;
    padding: 10px 10px;
    background-color: var(--bg-2);
    border: 1px solid var(--border);
    font-size: 12px;
    border-radius: 5px;
    display: flex; 
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.log-output:hover {
    border: 1px solid var(--main);
    background-color: var(--bg-btn);
}

.canvas {
    max-width: 100%;
    max-height: 100%;
}

.loading-image {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    border: 1px solid var(--border);
}

.loading-text {
    font-size: 14px;
    text-align: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: center;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.grid-4-41 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

#changeSeed {
    cursor: pointer;
}

.p1 {
    padding: 0 1.5em;
}

.tokeninfo, #error {
    justify-self: right;
}

.tokeninfo {
    font-size: 12px;
    position: relative;
    top: -16px;
    right: 10px;
    text-align: right;
    color: var(--font-weak);
}

.negative {
    top: -21px;
}

#error {
    align-self: center;
}

.error {
    background-color: #e7ff50;
    color: #000;
    font-size: 13.3px;
    border-radius: 50px;
    padding: 6px 12px;
}

.v1 {
    height: 10vh;
    border-bottom: 1px solid var(--border);
}

.v9 {
    height: 90vh;
}

#webnnstatus {
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
}

#webnnstatus #circle {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 0px;
}

#webnnstatus.green {
    color: var(--font);
}

#webnnstatus.red {
    background-color: #e7ff50;
    color: #000;
    border-radius: 50px;
    padding: 4px 12px;
}

#webnnstatus.green #circle {
    background-color:chartreuse;
}

#webnnstatus.red #circle {
    background-color: #000;
}

#ortversion {
    font-size: 12px;
    text-align: right;
}

#ortversion a {
    color: var(--font);
    text-decoration: none;
}

#ortversion a:hover {
    color: chartreuse;
    text-decoration: underline;
}

#data {
    border: 1px solid var(--border);
    margin-top: 10px;
    border-radius: 5px;
}

#data:hover {
    border: 1px solid var(--main);
}

#data table {
    font-size: 12px;
    text-align: center;
    margin: 0;
    border-collapse: collapse;
}

#data tr th, #data tr td {
    text-align: center;
}

#data tr th {
    font-weight: 600;
    padding: 10px 8px;
}

#data tr td {
    padding: 4px 8px;
}

#data tr:nth-child(odd) {
  background-color: transparent;
}

#data tr:nth-child(even) {
  background-color: var(--bg-3);
}

#data tr:hover th, #data tr:hover td {
    background-color: var(--main);
}

#data .category, #data .load, #data .create {
    width: 96px;
}

#totalrun {
    color: chartreuse;
}

.hide {
    display: none;
}

.show {
    display: block;
}